.App {
  text-align: center;
  background: radial-gradient(gold, transparent);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

a {
  color: blue;
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 120px;
  color: rgba(black, 0.75);
}

h2 {
  font-size: 80px;
  font-weight: normal;
  color: rgba(black, 0.5);
}

.PhoneWrapper {
  display: flex;
  position: relative;
}

.PopupHeader {
  bottom: calc(100% - 10px);
}

.PopupFooter {
  font-size: 30px;
  color: blue;
  bottom: -100px;
}

.PopupContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: rgba(white, 0.85);

  strong {
    display: inline-flex;
    color: black;
    background: yellow;

    transform: scale(1);
    animation: explode 0.5s;
    animation-delay: 2s;
  }
}

.PopupHeader .PopupContent {
  border-radius: 3% 97% 4% 96% / 85% 6% 94% 15%;
  color: black;
  transform: rotate(-10deg);
  box-shadow: 0 0 10px rgba(black, 0.5);

  .PopupContentTitle {
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
  }

  .PopupContentMore {
    font-size: 20px;
    line-height: 1.5em;
    color: rgba(black, 0.5);
  }
}

.PopupFooter .PopupContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.PopupAppStores {
  font-size: 20px;

  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
}

.PopupOpenSource {
  left: 400px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background: white;
  border-radius: 10px;
  padding: 30px;

  position: absolute;
}

.Popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.PopupFinger {
  pointer-events: none;
  font-size: 50px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 200px;
  transform: translateX(0);

  animation-delay: 5s;
  animation: animatePopupFinger 3s infinite;
}

.SecretCurtain {
  cursor: pointer;
  position: absolute;
  inset: 0;
  background-color: aqua;
  border-radius: 20px;
  opacity: 0.24;
}

@keyframes explode {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 360px) {
  // do something in this width range.
  .Popup {
    opacity: 1;
  }
}

@keyframes animatePopupFinger {
  0%,
  100% {
    transform: translateX(-50px) scale(2.5) rotate(45deg);
  }
  50% {
    transform: translateX(0) scale(3) rotate(60deg);
  }
}
