.Device {
  display: flex;
  position: relative;
  flex-direction: column;

  height: 700px;
  width: 360px;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;

  outline: 10px solid rgba(pink, 1);

  .Screen {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;

    border-radius: 10px;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.2);
  }

  .StatusBar {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    filter: drop-shadow(2px);
  }

  .DeviceControls {
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
  }
}

.AboutScreen {
  display: flex;
  color: white;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.ScreenContent {
  display: flex;
  flex: 1;
  position: relative;
}
